/*@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
}
body {
  align-items: center;
  background-color: #ddd;
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
}
.pageWrapper {
  background-color: #fff;
  max-width: 550px;
}

.destinationsWrapper {
  padding: 45px 30px;
}

.border {
  border-bottom: 1px solid #ddd;
}
/*@media screen and (max-width: 650px) {*/
/*  .App {*/
/*    max-width: none;*/
/*    width: 90vw;*/
/*  }*/
/*}*/
